body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.search-container {
    margin-bottom: 20px;
}

#searchInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/* Navbar container */
.navbar {
    background-color: #E6E6E6;
    border-color: #ccc;
}

/* Navbar brand and links */
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: #020122;
}
.navbar-brand {
    padding-top: 0;
}
/* Hover state */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover {
    color: #444477;
}

/* Active link */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: #020122;
    background-color: #dcdcdc;
}

/* Toggle button for mobile */
.navbar-default .navbar-toggle {
    border-color: #020122;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #020122;
}

/* Optional: Search button styling */
.navbar-form .btn {
    background-color: #fff;
    color: #020122;
    border: 1px solid #020122;
}
.navbar-form .btn:hover {
    background-color: #f0f0f0;
}
.footer {
    background-color: #020122;
    color: #E6E6E6;
}

.table {
    width: 75%;
    max-width: 100%;
    margin-bottom: 20px;
    display: block;
    margin: 0 auto;
}
.dropdown-section {
    margin-top: 20px;
  }
  .btn-block {
    text-align: left;
  }
    