body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.search-container {
    margin-bottom: 20px;
}

#searchInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.navbar-inverse a {
    color: #020122;
}

.navbar {
    background-color: #E6E6E6;
}

.navbar-brand {
    padding-top: 0;
}

.footer {
    background-color: #020122;
    color: #E6E6E6;
}

.table {
    width: 75%;
    max-width: 100%;
    margin-bottom: 20px;
    display: block;
    margin: 0 auto;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #020122;
    background-color: white;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>a:hover {
    color: #020122;
}